streamlit
pymupdf
python-docx
plotly
pandas
reportlab
spacy
nltk
sentence-transformers
scikit-learn
google-generativeai
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl